<body>
  <section class="main-content">
    <div class="main-content-container">
      <div class="text-content">
        <h1>Bienvenue sur EduLearn</h1>
        <p>
          Solution complète pour gérer les besoins étudiants, enseignants <br> Simplifiez l'administration de votre institution éducative
        </p>

        <div class="cta-container">
          <p class="cta-text">Prêt à optimiser votre gestion académique?</p>
          <button class="cta-button" (click)="goToLogin()">Commencer</button>
        </div>
      </div>
      <div class="image-content">
        <img src="assets/educ.png" alt="Illustration gestion éducative">
      </div>
    </div>
  </section>
  <section class="inspiration">
    <div class="inspiration-container">
      <div class="video-container">
        <h2>Optimisez votre administration</h2>
        <p>Découvrez comment notre plateforme peut transformer la gestion de votre institution éducative</p>
        <video autoplay muted loop>
          <source src="assets/vidd.mp4" type="video/mp4">
          Votre navigateur ne supporte pas les vidéos.
        </video>
      </div>
      <div class="quotes-container"><br>
        <h2>Citations inspirantes</h2>
        <div class="bubbles-container">
          <span class="bubble"></span>
          <span class="bubble"></span>
          <span class="bubble"></span>
          <span class="bubble"></span>
          <span class="bubble"></span>
        </div>
        <blockquote>
          "L'éducation est l'arme la plus puissante qu'on puisse utiliser pour changer le monde" - Nelson Mandela
        </blockquote>
        <blockquote>
          "La technologie n'est qu'un outil. Pour que les enfants travaillent ensemble et soient motivés, c'est l'enseignant qui compte" - Bill Gates
        </blockquote>
        <blockquote>
          "L'administration efficace est le socle invisible de toute éducation réussie" - Anonyme
        </blockquote>
        <blockquote>
          "L'avenir de l'éducation est indissociable de la technologie" - David Lassner
        </blockquote>
      </div>
    </div>
  </section>
</body>